html{

}

body{
	font-family: "Helvetica";
	font: 20px "Helvetica";
	color: #fff;
}

p {
	font-size: 12px;
}

h3 {
	font-size: 12px;
}

#link {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	text-decoration: none;
}

#link:hover {
    background-color: #AAAAAA;
}

#link:active {
	background-color: #AAAAAA
}

#footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: #333333;
	clear: both;
	font-size: 12px;
}

.M{
	font-size: 10px;
	padding-top: 20px;
}


.intro {
	padding-left: 120px;
	padding-right: 120px;
}

#pic{
	float:left;
	height: 200px;
	width: auto;
	padding-right: 15px;
}

#pic2{
	float:right;
	height: 180px;
	width: auto;
	padding-left: 15px;
}

#pic3{
	float:left;
	height: 180px;
	width: auto;
	padding-right: 15px;
}

#pic4{
	height: 200px;
	width: auto;
	text-align: center;
}


.name {
	font-size: 20px;
	cursor: pointer;
}

.menu {
	padding: 10px;
	position: fixed;
	z-index: 10;
	text-align: center;
	background-color: #333333;
	width: 100%;
	height: auto;
	vertical-align: center;
	margin-right: 300px;
	font-size: 12px;
}

.cscontent {
	padding-right: 30px;
	padding-left: 30px;
	font-size: 7px;
	text-align: justify;
}

#footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: #333333;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#infoMenu li a {
	color: #fff;
}


/* Centered texts in each section
* --------------------------------------- */
.section{
	text-align:center;
	background-size: cover;
	padding:0px;
}

#section0,
#section1,
#section2,
#section3,
#section4,
#section5{
	background-size: cover;
	background-attachment: fixed;
}

/* Overwriting styles for control arrows for slides
* --------------------------------------- */

.fp-controlArrow {
	display: none;
}










@media all and (min-width: 1000px){


#footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: #333333;
	padding: 30px;
	padding-left:30px;
	padding-right: 30px;
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

p{
	font-size: 16px;
}

#link {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.M {
	padding-top: 80px;
	font-size: 20px;
}

.menu{
	padding: 30px;
	font-size: 20px;
}

.cscontent {
	font-family: 'Roboto';
	padding-left:120px;
	padding-right:120px;
	padding-bottom: 30px;
	text-align: justify;
	font-size: 15px;
}

#pic{
	padding-right: 30px;
	height: 350px;
}

#pic3{
	padding-right: 30px;
	height: 200px;
}

#pic2{
	padding-left: 30px;
	height:200px;
}

#pic4 {
	height: 200px;
}

.fp-controlArrow {
	display: block;
}

.controlArrow.prev {
	left: 50px;
}
.controlArrow.next{
	right: 50px;
}
