/*    Global     */

html {
}

body {
	font-family: "Helvetica";
	color: #fff;
	margin:0px;
}

h1{
	font-size: 24px;
}

p {
	font-size: 10px;
	position: relative;
}

a {
	text-decoration: none;
}







/*     Pages and Specific ID's     */

.title {
	background-color: #adccb8;
	height: 100vh;
	max-height: 1000px;
	text-align: center;
	position: relative;
}

.mission {
	background-color: #667c67;
	height: 100vh;
	max-height: 1000px;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	position: relative;

}

.mission h1 {
	position: relative;
	text-align: center;
	top: 50%;
}

.mission p {
	position: relative;
	text-align: center;
	top: 50%;
}

.showpage {
	background-color: #9fa8a3;
	height: auto;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.showpage h1 {
	position: relative;
	text-align: center;
	padding-top: 50px;
}

#data {
	border-top: solid;
}

#design {

}

.contact {
	background-color: #717f89;
	height: 90vh;
	overflow: hidden;
	text-align: center;
	position: relative;
	max-height: 900px;
}

.contact h1 {
	position: relative;
	text-align: center;
	top:50%;
}

.contact p {
	position: relative;
	text-align: center;
	top: 50%;
}










/*      Link Stuff     */


#link {
	padding: 5px 10px 5px;
	color: #FFFFFF;
	text-decoration: none;
	display:inline-block;
	cursor: pointer;
	width:auto;
}

#link:hover {
    background-color: #BBBBBB;
}

#link:active {
	background-color: #BBBBBB;
}



/*      Footer Bar     */

#footer{
	left: 0;
	right: 0;
	position: absolute;
	text-align: center;
	background-color: #333333;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 10;
}







/*     Content Stuff     */

.myBlock {
	display: block;
	height: auto;
	width: 100%;

}

.myCont {
	display: none;
	position: absolute;
	float: right;
	top: 25%;
	max-height: 80vh;
	width: 30vw;
}

.mybox {
	border: solid;
	display: none;
	position: relative;
	text-align: center;
	font-size: 12px;
	left: -50%;
	padding: 10px;
	margin-bottom: 8%;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #BBBBBB;
}

.mybox:hover {
	background-color: #555555;
	cursor: pointer;
}

.mybox:active {
	background-color: #555555;
}

.mybox p {
	font-size: 10px;
}

.skillhead {
	position: relative;
	right: 50%;
}

#forMobile {
	padding: 40px;
}

#toggle {
	display: none;
}

#toggle2 {
	display: none;
}







/*     Pics     */

#prof {
	width: auto;
	height: 150px;
	padding-top: 300px;
	display: block;
	margin: 0 auto;
}

#menubar {
	height: 20px;
	background: none;
	width: auto;
	padding-top: 5px;
}

#arrow {
	width: 50px;
	height: auto;
	position: absolute;
	bottom: 5%;
	left: 48.5%;
	display: none;
}








/*     Stuff for Dropdowns   */

#submenu {
	float:left;
	background-color:#333333;
	padding:15px;
	font-size:20px;
	z-index: 10;
}

.menu {
	font-family: 'Helvetica';
	font-size: 30px;
	background-color: #999999;
	position: fixed;
	width:100%;
	height: 60px;
	z-index: 10;
}


.myDropdown {
    position: absolute;
    display: inline-block;
    margin:0px;
}

.myDropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    z-index: 10;
    top: inherit;
    top:43px;
    font-size: 16px;
}

.myDropdown:hover .myDropdown-content {
    display: block;
}






/*      For medium sized browsers     */









@media all and (min-width: 700px) {


p {
	font-size: 16px;
}

h1 {
	font-size: 36px;
}

.myDropdown-content {
	font-size: 24px;
}

.myBlock {
	width: 60%;
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#footer{
	font-size: 24px;
	padding:20px;
}

.mybox {
	display: none;
}

.arrow{
	display: block;
}

#prof {
	height: 200px;
	padding-top: 150px;
}

}







/*     Desktop Version    */

@media all and (min-width: 1000px) {


p {
	font-size: 16px;
}

h1 {
	font-size: 36px;
}

#prof {
	padding-top: 180px;
	height: 250px;
}

.mybox {
	font-size: 20px;
	padding-top: 10px;
	display: block;
}

.mybox p {
	font-size: 14px;
}


@media screen and (max-height: 500px) {

	p {
		font-size: 10px;
	}

	h1 {
		font-size: 24px;
	}

	#prof {
		height: 150px;
		padding-top: 100;
	}
	.mybox {
		font-size: 12px;
		padding-top: 10px;
		display: block;
	}

	.mybox p {
		font-size: 10px;
	}

	}





/*     Dropdown Fix      */

.menu {
	font-size: 20px;
	padding: 30px;
	position: fixed;
	text-align: center;
	background-color: #333333;
	width: 100%;
	height: auto;
	vertical-align: center;
	font-size: 12px;
}

#submenu {
	display: none;
}

.myDropdown-content{
	display: inline;
	position: fixed;
	z-index: 10;
	text-align: center;
	background-color: #333333;
	height: auto;
	width: 100%;
	vertical-align: center;
	font-size: 20px;
	top: 0px;
	left: 0px;
	padding: 30px;
}





/*     Sizing Fixes     */

#link {
	display: inline;
	padding: 10px 30px 10px;
	width: auto;
}



#footer{
	padding: 30px;
	padding-left:30px;
	padding-right: 30px;
	font-size: 20px;
}








/*     Content Fix     */




.showpage {
	height: 100vh;
}

.showpage h1 {
	top: 10%;
	padding-top: 0px;
}

.myBlock {
	display: none;
	float: left;
	width: auto;
	height: 100% ;
	left:50%;
}

.myCont {
	display: inline;
}

#forMobile{
	display: none;
}

#toggle2 {
	display: block;
}

#toggle {
	display: block;
}

#arrow {
	display: block;
}


}






